.ranking{
  min-width: 350px;
  max-width: 1000px;
  margin: 8px;
}

#ranking-wrapper{
  display: flex;
  justify-content: center;
}

.player{
  display: block;
  height: 60px;
  margin: 8px 0;
  border-radius: 5px;
  background-color: white;
  overflow: hidden;
}

.player:hover{
  background-color: rgb(255, 240, 240);
}

.character{
  margin-right: 8px;
  float: left;
}

.playerinfo-wrapper{
  text-align: left;
  float: left;
  padding: 3px 5px;
}

.playerinfo-wrapper p{
  margin: 2px;
}

a {
  color: inherit;
}

.page-title{
  padding: 8px 0;
  border: 2px solid #fff;
  font-style: bold;
  font-size: 1.2em;
}

.description {
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
  margin: 4px 0;
}

.description-mini {
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
  margin: 4px 0;
  font-size: 0.7em;
}

.recharts-wrapper {
  margin: 5px 0;
  border-radius: 5px;
  background-color: white;
}
