.App {
  text-align: center;
}

header{
  background: linear-gradient(to bottom, navy, rgb(20, 50, 90), navy);
  color: white;
  padding: 5px;
  height: 70px;
}

h1{
  font-size: 2.3em;
}

h2{
  font-size: 2em;
  font-weight: bold;
}
